<!-- app.component.html -->

<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">CineMatrix</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">User Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies">Movie Management</a>
    </li>
    <!-- Add other navigation links as needed -->
  </ul>
</nav>

<!-- Show UserManagementComponent -->
<!-- <app-user-management *ngIf="isUserManagementRouteActive()"></app-user-management> -->

<!-- Show MovieManagementComponent -->
<!-- <app-movie-management *ngIf="isMovieManagementRouteActive()"></app-movie-management> -->

<!-- Show ShowManagementComponent -->
<!-- <app-show-management *ngIf="isShowManagementRouteActive()"></app-show-management> -->

<!-- Add more components as needed -->
